body{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game{
    width: 700px;
    height: 700px;
    background-color: black;
    
}

.titlecontainer{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 8vh;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

.title{
    color: red;
    font-size: 45px;
}

.buttoncontainer{
    display: flex;
}

#buttonpause{
    width: 10vw;
    height:5vh;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 1000;
    color: white;
    background-color: crimson;
}